<h1 class="phpdocumentor-title">
    <a href="{{ path('/') }}" class="phpdocumentor-title__link">
        <img src="https://raw.githubusercontent.com/BcommeBois/oihana-php-standards/main/assets/images/oihana-php-standards-logo-inline-512x160.png" alt="Oihana PHP Standards" style="width: 128px; height: 40px;"/>
    </a>
</h1>
